body{
  margin: 0;
  padding: 0;
}

.UserName{
  position: relative;
  bottom: 10%;
  padding-left: 10px;
  font-size: 20px;
  color:#b3b3b3;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: bold;
}

.UserName:hover{
  position: relative;
  bottom: 10%;
  padding-left: 10px;
  font-size: 20px;
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: bold;
}


.header{
  display: flex;
  justify-content: space-between;
  width:100%;
  height:50px;
  background-color: #4f4f4f;
  margin-bottom: 105px;
}

.phone{
  padding-left: 20px;
}

.phone>img{
  padding-top: 7px;
}

.numbers{
  position: relative;
  bottom: 10%;
  padding-left: 10px;
  font-size: 20px;
  color:#b3b3b3;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: bold;
}

.numbers:hover{
  position: relative;
  bottom: 10%;
  padding-left: 10px;
  font-size: 20px;
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: bold;
}

.geolocation{

  padding-top: 7px;
  font-size: 20px;
  text-decoration: none;
}

.city{
  position: relative;
  bottom: 20%;
  color:#a6a6a6

}

.city:hover{
  position: relative;
  bottom: 20%;
  color: white;
}

.button-enter{
    margin: 10px 30px 0 0;
    line-height: 30px;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    height: 30px;
    width: 147px;
    background-color: #fff;
    opacity: .7;
    font-weight: 700;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: 1px;
}

.button-enter:hover{
    position: relative
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    height: 30px;
    width: 147px;
    background-color: white;
    opacity: .7;
    font-weight: 700;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: 1px;
}

.content{
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.good{
  margin: 10px;
  width: 280px;
  height: 420px;
  background-color:#ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  padding: 10px;
  transition: all .3s ease;
}

.good:hover{
  margin-bottom: 10px;
  width: 285px;
  min-height: 420px;
  background-color:#ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);

}
body{
background-color:#f8f8f8;

}
.name,.change-food,.description{
  margin: 15px 0;
  height: 60px;
}

.name{
  height: 30px;
  font-size:20px;
  color:#596d83;
}
.change-food{
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.description{
  text-decoration: none;
  font-size: 15px;
  color:#c1c1c1;
}

}
.photo-good{
  display: block;
  margin: 0 auto;

}

.order{
  margin-top:25px;
  display: flex;
  justify-content: space-around;
}
.button{
  line-height:50px;
  text-align: center;
  text-decoration: none;
  background-color: #de1836;
  color:#ffffff;
  border-radius: 15px;
  transition: all .3s;
  height: 50px;
  width: 130px;
  font-size: 18px;
  font-weight: 700;
}
.button:hover{
  line-height:50px;
  text-align: center;
  text-decoration: none;
  background-color: #bf142e;
  color:#ffffff;
  border-radius: 15px;
  height: 50px;
  width: 135px;
  font-size: 18px;
  font-weight: 700;
}

.price{
  line-height:50px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: bold; //dsgfsdgsd
}
